DB = mongodb+srv://username:password@bacon.someurl.mongodb.net/test?retryWrites=true&w=majority
JWT_SECRET = somesupersecretstring
REDIS_AUTH = yourredispasswd
REDIS_URL = yourredisurl
REDIS_PORT = yourredisport
